

#display {
    box-sizing: border-box;
    border: 1px solid white;
    width: 100%;
    text-align: right;
    color: white;
    font-size: 30px;
    margin: 0 0 25px 0;
    padding: 20px 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


.number, .operator, #clr, .equals{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#buttons {
    display:flex;
    justify-content: space-between;
    gap:20px;
}

#calculator {
    padding: 30px 30px;
    border: 5px groove white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.number{ 
    padding: 30px 35px;
    border-color: white;
    color: white;
    background-color: black;
    border-radius: 50px;
}

#clr {
    background-color: white;
    padding: 30px 35px;
    font-weight: bolder;
    color: black;
    border-radius: 50px;
}

.operator, .equals{
    padding: 20px 20px;
    font-weight: bolder;
    color: black;
    background-color: white;
    border-radius: 20px;
}

.equals, #clr {
    color: red;
}



.numbers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    align-content: center;
}

.operators {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 100px;
}